<ul>
<% @stops.each do |stop| %>
		<li><%= stop[:bus] %>:
			<% unless stop[:times].empty? %>
			<%= stop[:times].join(", ") %>
			<% else %>
			 No times listed.
			<% end %>
		</li>
<% end %>
</ul>
<ul>
<% @links.each do |link| %>
	<li><a href="/<%= link %>">To <%= link.capitalize %></a></li>
<% end %>
</ul>
<ul>
	<li><a href="/buses">Buses</a></li>
</ul>